body {
    padding: 0;
    margin: 0;
    background: white;
    width: 100%;
    overflow-x: hidden;
}
.background-title{
    position: relative;
    width: 100%;
    height: 160px;
    background-color: black;
}
.call{
    position: relative;
    width: 30px;
    height: 30px;
    top: 5px;
    right: 12px;
}
.number{
    color: white;
    position: relative;
    top: 32px;
    left: 365px;
    width: 145px;
    height: 41px;
    font-size: 15px;
}
.text-under-number1{
    color: white;
    top: 30px;
    left: 352px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    width: 30px;
    height: 17px;
    position: relative;
    font-size: 12px;
}
.text-under-number2{
    color: #BB8C5F;
    top: 13px;
    left: 391px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    width: 59px;
    height: 23px;
    position: relative;
    font-size: 12px;
}
.text-under-number3{
    color: white;
    bottom: 10px;
    left: 460px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    width: 46px;
    height: 16px;
    position: relative;
    font-size: 12px;
}
.emails{
    position: relative;
    top: 8px;
    right: 5px;
    width: 28px;
    height: 28px;
}
.text-emails{
    position: relative;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    color: #FAF6F2;
    bottom: 64px;
    left: 620px;
    font-size: 15px;
    width: 157px;
    height: 28px;
}
.name-website{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    bottom: 110px;
}
.up-name{
    color: #BB8C5F;
    font-size: 30px;
    letter-spacing: 2px;
    font-family: "Forum", sans-serif;
}
.middle-line {
    position: relative;
    color: #BB8C5F;
    width: 210px;
    border: 1px solid #BB8C5F;
}
.middle-line::before,
.middle-line::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #BB8C5F;
    transform: rotate(45deg);
}
.middle-line::before {
    right: 210px;
    top: -3px;
}
.middle-line::after {
    left: 210px;
    top: -3px;
}
.down-name{
    color: #BB8C5F;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: "Forum", sans-serif;
}
.big-line{
    position: relative;
    width: 1216px;
    bottom: 95px;
    color: #524336;
    border: 1px solid #524336;
    margin: 0 auto;
}
.big-line::before,
.big-line::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
}
.big-line::before {
    border-width: 6px 11px 6px 0;
    border-color: transparent #524336 transparent transparent;
    left: 1215px;
    top: -5px;
}

.big-line::after{
    border-width: 6px 0 6px 11px;
    border-color: transparent transparent transparent #524336;
    right: 1214px;
    top: -5px;
}
.three-navbar{
    position: relative;
    color: white;
    width: 238px;
    height: 34px;
    left: 1332px;
    bottom: 162px;
}
.shopping-cart{
    width: 28px;
    height: 28px;
    position: relative;
    top: 8px;
    left: 4px;
}
.quantity{
    width: 24px;
    height: 21px;
    position: relative;
    bottom: 8px;
    right: 11px;
}
.mdi-light_heart{
    width: 28px;
    height: 28px;
    position: relative;
    top: 8px;
    left: 20px;
}
.account{
    width: 28px;
    height: 28px;
    position: relative;
    top: 8px;
    left: 55px;
}
.catalog{
    width: 130px;
    height: 43px;
    position: relative;
    color: white;
    left: 351px;
    bottom: 117px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.menu{
    position: relative;
    width: 24px;
    height: 14px;
    bottom: 22px;
    left: 90px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.menu-line1{
    background-color: #BB8C5F;
    width: 24px;
    height: 8px;
}
.menu-line2{
    background-color: #BB8C5F;
    width: 24px;
    height: 8px;
}
.menu-line3{
    background-color: #BB8C5F;
    width: 24px;
    height: 8px;
}
.search{
    position: relative;
    width: 418px;
    height: 44px;
    border: 1px solid #524336;
    bottom: 165px;
    left: 535px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #636B78;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 15px;
    gap: 15px;
}
.search-glass{
    width: 28px;
    height: 28px;
    margin-left: 15px;
}

