body {
    padding: 0;
    margin: 0;
    background: white;
    width: 100%;
    overflow-x: hidden;
}
.background-title{
    position: fixed;
    width: 100%;
    height: 160px;
    background-color: black;
}
.call{
    position: fixed;
    width: 30px;
    height: 30px;
}
.number{
    color: white;
}
.name-website{
    position: fixed;
}
.up-name{
    color: #BB8C5F;
    font-size: 30px;
}
.down-name{
    color: #BB8C5F;
    font-size: 30px;
} 1
